@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');


:root {

  /* paleta de cor que gostei
  --cor-primaria:#000000;
  --cor-secundaria:#E3CCAE;
  --cor-terciaria:#B8621B;
  --cor-hover:#262A56;*/

  
  --cor-primaria:#000000;
  --cor-secundaria:#f6f6f6;
  --cor-terciaria:#22d4fd;
  --cor-hover:#272727;

  --fonte-primaria: 'Krona One', sans-serif;
  --fonte-secundaria:'Montserrat', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  /* height: 100vh; */
  background-color: var(--cor-primaria);
  color: var(--cor-secundaria);
}

.cabecalho{
  padding: 2% 0% 0% 15%;
}

.cabecalho-menu{
  display: flex;
  gap: 80px;
}
.cabecalho-menu-link{
  font-family: var(--fonte-secundaria);
  font-weight: 600;
  font-size: 24px;
  color:var(--cor-terciaria);
  text-decoration: none;
}


.apresentacao {
  padding: 5% 15%;
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.apresentacao_conteudo {
  width: 615px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-right: 10px;
}


.apresentacao_conteudo_titulo {
  font-size: 26px;
  font-family: var(--fonte-primaria);
  text-align: left;
  ;
}

.titulo-destaque {
  color: var(--cor-terciaria);
}

.apresentacao_conteudo_texto {
  font-size: 24px;
  font-family: var(--fonte-secundaria);
  text-align: left;
}

.apresentacao_conteudo_texto-sobre-mim {
  font-size: 20px;
  font-family: var(--fonte-secundaria);
  text-align: left;
  padding: 5px;}

.apresentacao_links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}
.apresentacao_links_subtitulo{
	font-family: var(--fonte-primaria);
	font-weight: 400;
	font-size: 24px;
}

.apresentacao_links_links {
  display: flex;
  justify-content: center;
  gap: 16px;
  width: 378px;
  text-align: center;
  border-radius: 8px;
  font-size: 24px;
  padding: 21.5px 0px;
  text-decoration: none;
  color: var(--cor-secundaria);
  border: 2px solid var(--cor-terciaria);
  font-weight: 600;
  font-family: var(--fonte-secundaria);

}
.apresentacao_links_links:hover {
	background-color: var(--cor-hover);
}

.roda-pe {
	font-family: var(--fonte-secundaria);
	font-size: 24px;
	font-weight: 400;
	text-align: center;
	padding: 14px;
	color: var(--cor-primaria);
	background-color: var(--cor-terciaria);
}